<div class="container">
  <div class="container">
    <button class="my-button" [ngClass]="{'led-on':isLedOn}" (click)="toggleLedState()">Switch
      LED {{isLedOn ? 'OFF' : 'ON'}}</button>
  </div>

  <div class="container">
    <mwl-gauge
        [max]="180"
        [dialStartAngle]="0"
        [dialEndAngle]="180"
        [value]=servoAngle
        [animated]="true"
        [animationDuration]="0.25">
    </mwl-gauge>

<!--    no [(ngModel)] used here becouse of periodic received values-->
    <input #servoSlider type="range" min="0" max="180" [value]=servoAngle
           (mouseup)="setServo(servoSlider.value)" class="slider">
  </div>
</div>
