.container {
  /*required to position the speachButton inside*/
  position: relative;
}

#error {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: red;
  font-size: larger;
  border-radius: 10px;
  padding: 10px;
  border: solid black;
}

#speachButton {
  position: absolute;
  right: 50px;
}

#speachButton:active{
  box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
  background-color: deepskyblue;
}

#speachButton.active{
  box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
  background-color: deepskyblue;
}
