<div class="container">
  <a class="my-button" routerLink="/monitor" routerLinkActive="my-active">Monitor</a>
  <a class="my-button" routerLink="/controller" routerLinkActive="my-active">Controller</a>
  <button id=speachButton *ngIf="speechService && speechService?.isSupported" class="my-button"
          [disabled]="!speechService?.isSupported"
          [ngClass]="{'my-button': speechService?.isSupported, 'active': speechService?.isEnabled}"
          (click)="speechService.toggle()">
    {{speechService?.isEnabled ? 'Talking' : 'Muted'}}</button>
</div>
<router-outlet></router-outlet>
