<div class="container">
  <div class="max-setter">
    <label for="maxValCnt">Max. value count: {{maxDataLength}}</label>
    <input id="maxValCnt" type="range" min="10" max="500" [(ngModel)]=maxDataLength class="slider">
  </div>


  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
