.container {
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

.max-setter {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

canvas {
  max-height: 700px;
}
